@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #0f0f0a;
    color: #ededed;
}

header {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;   
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar .active {
    color: #00caff;
}

.home {
    background-image: url(./assets/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #00caff;
}

.home-content p {
    color: #ededed;
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00caff;
    border: 2px solid #00caff;
    border-radius: 8px;
    font-size: 19px;
    color: #0f0f0a;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: #00caff;    
}

.btn-box a:nth-child(2) {
    background: transparent;
     color: #00caff;
}

.btn-box a:nth-child(2)::before {
    background: #00caff;
}

.btn-box a:nth-child(2):hover {
    color: #0f0f0a;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #0f0f0a;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00caff;
    border-radius: 50%;
    font-size: 20px;
    color: #00caff;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover{
    color: #0f0f0a;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #00caff;
    z-index: -1;
    transition: .5s;

}

.home-sci a:hover::before {
    width: 100%;
}


.section__title {
    font-size: 30px;
    padding: 30px;
    padding-bottom: 10px;
    padding-top: 50px;
    display: flex;
  }
  
  .about__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .about__description {
    padding: 30px;
    padding-top: 0;
    line-height: 30px;
  }
  
  .about__summary {
    margin: 30px 0;
  }
  
  .about__description h2 {
    margin: 20px 0;
  }
  
  .about__skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
  
  .skill__title {
    grid-column: span 3;
    text-align: left;
    margin: 20px 0;
  }
  
  .skill__item {
    font-size: 65px;
    padding: 35px;
    transition: all 0.3s;
    min-width: 130px;
    height: 180px;
  }
  
  .skill__item img {
    max-height: 80px;
    max-width: 80px;
  }

  .skill__name {
    font-size: 20px;
  }

  .download__buttom{
    padding-left: 30px;
  }
  .download__buttom a{
    width: 190px;
    height: 50px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px solid #00caff;
    border-radius: 8px;
    font-size: 19px;
    color: #00caff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
  }

  .download__buttom :hover{
    background: #00caff;
    color: #0f0f0a;
  }
